<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Modern packages -->
  <package id="Serilog" version="2.0.0" targetFramework="net6.0" allowedVersions="[2.0.0]" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net6.0" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net6.0" />

  <!-- Legacy packages -->
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="Moq" version="4.13.1" targetFramework="net461" />

  <!-- Development-time packages -->
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" privateAssets="all" />
  <package id="StyleCop.Analyzers" version="1.2.0" privateAssets="all" />

  <!-- Build-time packages -->
  <package id="Microsoft.SourceLink.GitHub" version="1.1.1" privateAssets="all" includeAssets="build" />

  <!-- Framework-specific packages -->
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
</packages>
